<div id="wrapper">
  <div id="bg"></div>
  <div id="overlay"></div>
  <div id="main" style="padding: 0px">

    <!-- Header -->
    <header id="header">
      <h1>Canmel Jensen</h1>
      <p>登录 &nbsp;&bull;&nbsp; 登录 &nbsp;&bull;&nbsp; 登录</p>
      <nav>
        <ul>
          <div class="row">
            <div class="col-sm-12 login-form">
              <form class="m-t loginForm" role="form">
                <div class="form-group">
                  <input type="text" name="username" value="demoUser1" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" value="123456" class="form-control" placeholder="密码" required="">
                </div>
                <div class="form-group">
                  <div class="col-md-6 no-h-pading">
                    <input type="text" class="form-control" name="imageCode" placeholder="请输入验证码" required="true" style="font-size: 14px; color: #333333">
                  </div>
                  <div class="col-md-6" style="display: inline-block;">
                    <app-image-code></app-image-code>
                  </div>
                </div>
                <button type="button" class="btn btn-primary block full-width m-b" (click)="toLogin()">登 录</button>
              </form>
            </div>
          </div>
        </ul>
      </nav>
    </header>

    <!-- Footer -->
    <footer id="footer">
      <span class="copyright">&copy; Untitled. Design.</span>
    </footer>

  </div>
</div>
