<div class="row">
  <aside class="profile-nav col-lg-3">
    <section class="panel">
      <div class="user-heading round">
        <a href="#">
          <i class="fa fa-bar-chart-o fa-3x" style="color: #ffffff"></i>
        </a>
        <h1>
          {{title}}
        </h1>
        <p>
          {{subTitle}}
        </p>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a routerLinkActive="active" routerLink="/app/pagination/custom" (click)="changeTitle('自定义Pagination', '代码实现分页')">
            <span style="max-height: 30px; max-width: 65px" alt=""><i style="min-width: 65px;" class="fa fa-list fa-2x"></i></span>
            自定义分页组件
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/app/pagination/bootstrap" (click)="changeTitle('BootStrap Pagination', 'BootStrap插件分页')">
            <span style="max-height: 30px; max-width: 65px" alt=""><i style="min-width: 65px;" class="fa fa-flag fa-2x"></i></span>
            BootStrap插件
          </a>
        </li>
      </ul>
    </section>
  </aside>
  <aside class="profile-info col-lg-9">
    <router-outlet></router-outlet>
  </aside>
</div>
