<div class="panel">
  <div class="panel-body">
    <div class="profile-desk">
      <h1>BootStrap Table</h1>
      <span class="designation">BootStrap表格</span>
      <p class="bio-graph-heading">
        使用<code>BootStrap</code>基本样式和一部分的<code>Ant Design</code>一些个样式，这些个样式在当前css文件中，通过Html标签显示不同的场景的表格
      </p>
    </div>
  </div>
</div>

<section class="panel">
  <div class="panel-body bio-graph-info">
    <h1>
      Table Info ...
    </h1>
    <div class="row">
      <div class="bio-row">
        <p><span>名称</span>
          : BootStrap Table
        </p>
      </div>
      <div class="bio-row">
        <p><span>BootStrap中文网</span>
          : <code>http://www.bootcss.com/</code>
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
        <div>
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-home">简单表格</i>
              </ng-template>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="panel-heading">用户列表信息</div>
                  <div class="panel-body no-padding" style="background-color: #fbfffb">
                    <table class="table no-margin">
                      <thead>
                      <tr>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th>状态</th>
                        <th class="col-md-2">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let user of users">
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.tel}}</td>
                        <td>
                          <div class="progress progress-md no-margin">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0"
                                 aria-valuemax="100" style="width: 40%">
                              <span class="sr-only">40% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td class="actions-hover actions-fade">
                          <a class="operation-links" (click)='renderForm({data: user, title: "编辑用户", dom: $event})'><i
                            class="fa fa-pencil"></i></a>
                          <a class="delete-row operation-links"><i class="fa fa-trash-o"></i></a>
                        </td>
                      </tr>
                      <tr class="text-center" *ngIf="!users">
                        <td colspan="4">
                          <p class="error-tip-color">暂无数据</p>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-bars">使用</i>
              </ng-template>
              <div class="tab-content">
                <div class="panel">
                  <div class="panel-body">
                    <ul style="list-style-type: disc">Echarts SVG地图扩展:
                      <p>使用</p>
                      <li>1. 在组件ts中定义数据数组</li>
                      <li>2. 在template中显示， 使用<code>&#42;ngFor="let user of users"</code> 指令循环</li>
                      <li>3. 使用<code>&#123; &#123;xxxx&#125; &#125;</code>显示参数</li>
                      <li>
                        <div class="well">
                          &#60;td&#62; &#123; &#123; xxx &#125; &#125; &#60;/td&#62;
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
        <div>
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-home">固定表头</i>
              </ng-template>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="panel-body no-padding" style="background-color: #fbfffb">
                    <div>
                      <table style="margin-bottom: 0px;">
                        <colgroup>
                          <col style="width: 150px; min-width: 150px;">
                          <col style="width: 150px; min-width: 150px;">
                          <col style="width: 250px; min-width: 250px;">
                          <col>
                        </colgroup>
                        <thead>
                        <tr>
                          <th><span>姓名</span></th>
                          <th><span>年龄</span></th>
                          <th><span>状态</span></th>
                          <th><span>坐标</span></th>
                        </tr>
                        </thead>
                      </table>
                    </div>
                    <div style="max-height: 240px; overflow-y: scroll;">
                      <table class="table">
                        <colgroup>
                          <col style="width: 150px; min-width: 150px;">
                          <col style="width: 150px; min-width: 150px;">
                          <col style="width: 250px; min-width: 250px;">
                          <col>
                        </colgroup>
                        <tbody>
                        <tr *ngFor="let item of data">
                          <td class="no-pading">{{item.name}}
                          </td>
                          <td class="no-pading">{{item.age}}</td>
                          <td class="no-pading">{{item.address}}</td>
                          <td class="no-pading"><div class="progress progress-md no-margin">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0"
                                 aria-valuemax="100" style="width: 40%">
                              <span class="sr-only">40% Complete (success)</span>
                            </div>
                          </div></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-bars">使用</i>
              </ng-template>
              <div class="tab-content">
                <div class="panel">
                  <div class="panel-body">
                    <ul style="list-style-type: disc"><h5>使用</h5>
                      <li>1. 在组件ts中定义数据数组</li>
                      <li>2. 在template中显示， 使用<code>&#42;ngFor="let item of data"</code> 指令循环</li>
                      <li>3. 使用<code>&#123; &#123;xxxx&#125; &#125;</code>显示参数</li>
                      <li>4. 显示为固定表头，其实是两个表，一个显示表头信息，一个显示表内容</li>
                      <li>5. 由于文本显示问题，需要将两个表的列宽设置为相等，能看起来是一个table</li>
                      <li>
                        <div class="well">
                          // 两个表格要进行相同的配置
                          &#60; table &#62;<br/>
                          &#60; colgroup &#62;<br/>
                          &#60; col style="width: 150px; min-width: 150px;" &#62;<br/>
                          &#60; col style="width: 150px; min-width: 150px;" &#62;<br/>
                          &#60; col &#62;<br/>
                          // 最后一行可以不用设置<br/>
                          &#60; /colgroup &#62;<br/>
                          ...
                          &#60; tbody &#62;<br/>
                          ...<br/>
                          &#60; /table &#62;<br/>
                        </div>
                      </li>
                      <li>
                        <div class="well">
                          &#60;td&#62; &#123; &#123; xxx &#125; &#125; &#60;/td&#62;
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
        <div>
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-home">固定列</i>
              </ng-template>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="panel-body no-padding" style="background-color: #fbfffb">
                    <div class="ant-table ant-table-large ant-table-scroll-position-middle">
                      <div class="ant-table-content">
                        <div class="ant-table-scroll">
                          <div class="ant-table-body" style="overflow-x: auto;">
                            <table class="ant-table-fixed" style="width: 1300px;">
                              <colgroup>
                                <col style="width: 100px; min-width: 100px;">
                                <col style="width: 100px; min-width: 100px;">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col style="width: 100px; min-width: 100px;">
                              </colgroup>
                              <thead class="ant-table-thead">
                              <tr>
                                <th class=""><span>Full Name</span></th>
                                <th class=""><span>Age</span></th>
                                <th class=""><span>Column 1</span></th>
                                <th class=""><span>Column 2</span></th>
                                <th class=""><span>Column 3</span></th>
                                <th class=""><span>Column 4</span></th>
                                <th class=""><span>Column 5</span></th>
                                <th class=""><span>Column 6</span></th>
                                <th class=""><span>Column 7</span></th>
                                <th class=""><span>Column 8</span></th>
                                <th class=""><span>Action</span></th>
                              </tr>
                              </thead>
                              <tbody class="ant-table-tbody">
                              <tr class="ant-table-row  ant-table-row-level-0">
                                <td class=""><span class="ant-table-row-indent indent-level-0"
                                                   style="padding-left: 0px;"></span>John Brown
                                </td>
                                <td class="">32</td>
                                <td class="">New York Park</td>
                                <td class="">New York Park</td>
                                <td class="">New York Park</td>
                                <td class="">New York Park</td>
                                <td class="">New York Park</td>
                                <td class="">New York Park</td>
                                <td class="">New York Park</td>
                                <td class="">New York Park</td>
                                <td class=""><a href="#">action</a></td>
                              </tr>
                              <tr class="ant-table-row  ant-table-row-level-0">
                                <td class=""><span class="ant-table-row-indent indent-level-0"
                                                   style="padding-left: 0px;"></span>Jim Green
                                </td>
                                <td class="">40</td>
                                <td class="">London Park</td>
                                <td class="">London Park</td>
                                <td class="">London Park</td>
                                <td class="">London Park</td>
                                <td class="">London Park</td>
                                <td class="">London Park</td>
                                <td class="">London Park</td>
                                <td class="">London Park</td>
                                <td class=""><a href="#">action</a></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="ant-table-fixed-left">
                          <div class="ant-table-body-outer">
                            <div class="ant-table-body-inner">
                              <table class="ant-table-fixed">
                                <colgroup>
                                  <col style="width: 100px; min-width: 100px;">
                                  <col style="width: 100px; min-width: 100px;">
                                </colgroup>
                                <thead class="ant-table-thead">
                                <tr style="height: 54px;">
                                  <th class=""><span>Full Name</span></th>
                                  <th class=""><span>Age</span></th>
                                </tr>
                                </thead>
                                <tbody class="ant-table-tbody">
                                <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                                  <td class=""><span class="ant-table-row-indent indent-level-0"
                                                     style="padding-left: 0px;"></span>John Brown
                                  </td>
                                  <td class="">32</td>
                                </tr>
                                <tr class="ant-table-row  ant-table-row-level-0" style="height: 54px;">
                                  <td class=""><span class="ant-table-row-indent indent-level-0"
                                                     style="padding-left: 0px;"></span>Jim Green
                                  </td>
                                  <td class="">40</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="ant-table-fixed-right">
                          <div class="ant-table-body-outer">
                            <div class="ant-table-body-inner">
                              <table class="ant-table-fixed">
                                <colgroup>
                                  <col style="width: 100px; min-width: 100px;">
                                </colgroup>
                                <thead class="ant-table-thead">
                                <tr style="height: 54px;">
                                  <th class=""><span>Action</span></th>
                                </tr>
                                </thead>
                                <tbody class="ant-table-tbody">
                                <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                                  <td class=""><a (click)="toAction($event)">action</a></td>
                                </tr>
                                <tr class="ant-table-row  ant-table-row-level-0" style="height: 54px;">
                                  <td class=""><a (click)="toAction($event)">action</a></td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-bars">使用</i>
              </ng-template>
              <div class="tab-content">
                <div class="panel">
                  <div class="panel-body">
                    <ul style="list-style-type: disc"><h5>使用</h5>
                      <li>1. 固定列与固定表头一样，需要定义其他的table，使其看起来为固定</li>
                      <li>2. 示例中定义了3个Table，中间数据部分可以实现滚动，两端固定</li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
