<div class="row">
  <aside class="profile-nav col-lg-3">
    <section class="panel">
      <div class="user-heading round">
        <a href="#">
          <i class="fa fa-bar-chart-o fa-3x" style="color: #ffffff"></i>
        </a>
        <h1>
          {{title}}
        </h1>
        <p>
          {{subTitle}}
        </p>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a routerLinkActive="active" routerLink="/app/validate/zorro" (click)="changeTitle('BootStrap Table', '简单表格|固定表头|固定列')">
            <img src="../../../assets/images/business/bt.ico" style="max-height: 30px; min-width: 63px; max-width: 65px" alt="">
            Zorro 验证
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/app/validate/zorro" (click)="changeTitle('Ant Design', 'NG-ZORRO|验证')">
            <img src="../../../assets/images/business/ant.svg" style="max-height: 30px; min-width: 63px; max-width: 65px" alt="">
            Ant Design验证
          </a>
        </li>
      </ul>
    </section>
  </aside>
  <aside class="profile-info col-lg-9">
    <router-outlet></router-outlet>
  </aside>
</div>
