<section class="panel">
  <div class="panel-body bio-graph-info">
    <h1>
      <i class="fa fa-search fa-1x fa-fw"></i>查询
    </h1>
    <div class="row">
      <form class="form-inline" role="form" id="searchForm">
        <div class="form-group">
          <input name="username" class="form-control" id="username" placeholder="输入用户名" [(ngModel)]="params.username">
        </div>
        <div class="form-group">
          <input name="email" class="form-control" id="email" placeholder="邮箱" [(ngModel)]="params.email">
        </div>
        <button type="submit" (click)="query()" class="btn btn-success">查询</button>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
        <div>
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-home">&nbsp;用户列表</i>
              </ng-template>
              <div class="panel-body-min">
                <div class="tab-content">
                  <div class="panel-body-min no-padding">
                    <table class="table no-margin">
                      <thead>
                      <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th>备注</th>
                        <th>状态</th>
                        <th class="col-md-2">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let user of users index as i">
                        <td>{{(paginationParams.currentPage - 1) * paginationParams.pageSize + i + 1}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.nickname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.mobile}}</td>
                        <td>{{user.remarke}}</td>
                        <td>
                          <span *ngIf="user.status == '1'">
                            <i class="fa fa-check"></i>
                          </span>
                          <span *ngIf="user.status == '2'">
                            <i class="fa fa-lock"></i>
                          </span>
                        </td>
                        <td class="actions-hover actions-fade">
                          <span class="label label-primary label-mini" tooltip="修改用户" placement="left"
                                (click)='edit({"id": user.id})'>
                          <a class="operation-links a-white"><i
                            class="fa fa-pencil fa-fw"></i></a>
                          </span>

                          <span class="label label-danger label-mini" tooltip="删除用户" placement="top"
                                (click)="delete(template, user.id, user.nickname)">
                          <a class="delete-row operation-links a-white">
                            <i class="fa fa-trash-o fa-fw"></i></a>
                          </span>

                          <span class="label label-info label-mini" tooltip="添加角色" placement="right"
                                (click)="addRoles(roletemplate, user.id)">
                          <a class="delete-row operation-links a-white">
                            <i class="fa fa-users fa-fw"></i></a>
                          </span>
                        </td>
                      </tr>
                      <tr class="text-center" *ngIf="!users">
                        <td colspan="4">
                          <p class="error-tip-color">暂无数据</p>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <ng-template #roletemplate>
                      <div class="modal-body text-center">
                        <nz-transfer
                          [nzDataSource]="list"
                          [nzTitles]="['已装配', '未装配']"
                          (nzSelectChange)="select($event)"
                          (nzChange)="change($event)">
                        </nz-transfer>
                        <br/>
                        <button type="button" class="btn btn-primary" (click)="roleConfirm()">保存</button>
                        <button type="button" class="btn btn-default" (click)="decline()">取消</button>
                      </div>
                    </ng-template>

                    <ng-template #template>
                      <div class="modal-body text-center">
                        <p>你确定要删除 <b>{{preDelete.name}}</b> 吗？</p>
                        <button type="button" class="btn btn-primary" (click)="confirm()">是</button>
                        <button type="button" class="btn btn-default" (click)="decline()">否</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div style="text-align: center">
                  <pagination
                    [totalItems]="paginationParams.totalCount"
                    [nextText]="paginationParams.nextText"
                    [previousText]="paginationParams.previousText"
                    [(ngModel)]="paginationParams.currentPage"
                    (pageChanged)="pageChanged($event)"></pagination>
                </div>
              </div>
            </tab>
            <tab (click)="toAddUser()">
              <div (click)="toAddUser()">
                <ng-template tabHeading>
                  <a (click)="toAddUser()"><i class=" fa fa-bars">&nbsp;新建</i></a>
                </ng-template>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>

</section>
