<section class="panel">
  <div class="panel-body bio-graph-info">
    <h1>
      <i class="fa fa-search fa-1x fa-fw"></i>查询
    </h1>
    <div class="row">
      <form class="form-inline" role="form" id="searchForm">
        <div class="form-group">
          <input name="name" class="form-control" id="name" placeholder="名称" [(ngModel)]="params.name">
        </div>
        <button type="submit" (click)="query()" class="btn btn-success">查询</button>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
        <div>
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-home">&nbsp;流程列表</i>
              </ng-template>
              <div class="panel-body-min">
                <div class="tab-content">
                  <div class="panel-body-min no-padding">
                    <table class="table no-margin">
                      <thead>
                      <tr>
                        <th>名称</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>是否发布</th>
                        <th class="col-md-2">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let flow of workFlows">
                        <td>{{flow.name}}</td>
                        <td>
                          <i class="fa fa-thumbs-o-up" *ngIf="flow.status == '1'"></i>

                          <i class="fa fa-times-circle" *ngIf="flow.status == '0'"></i></td>
                        <td>
                          <span>{{flow.createdAt | date:'yyyy-MM-dd'}}</span>
                        </td>
                        <td>
                          <span *ngIf="flow.isPublic == '1'">
                            <i class="fa fa-check"></i>
                          </span>
                          <span *ngIf="flow.isPublic == '0'">
                            <i class="fa fa-lock"></i>
                          </span>
                        </td>
                        <td class="actions-hover actions-fade">
                          <span class="label label-primary label-mini" tooltip="编辑流程" placement="left">
                            <a class="operation-links a-white" (click)='edit({"id": flow.id})'><i
                              class="fa fa-pencil fa-fw"></i></a>
                          </span>
                          <span class="label label-danger label-mini" tooltip="删除流程" placement="top">
                          <a class="delete-row operation-links a-white"
                             (click)="delete(template, flow.id, flow.name)">
                            <i class="fa fa-trash-o fa-fw"></i></a>
                          </span>
                          <span class="label label-info label-mini" tooltip="点击发布流程" placement="right">
                          <a class="delete-row operation-links a-white"
                             (click)="toPublish(publishTemplate, flow.id, flow.name)">
                            <i class="fa fa-gavel fa-fw"></i></a>
                          </span>
                        </td>
                      </tr>
                      <tr class="text-center" *ngIf="!workFlows">
                        <td colspan="4">
                          <p class="error-tip-color">暂无数据</p>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <ng-template #template>
                      <div class="modal-body text-center">
                        <p>你确定要删除 <b>{{preDelete.name}}</b> 吗？</p>
                        <button type="button" class="btn btn-primary" (click)="confirm()">是</button>
                        <button type="button" class="btn btn-default" (click)="decline()">否</button>
                      </div>
                    </ng-template>

                    <ng-template #publishTemplate>
                      <div class="modal-body text-center">
                        <p>你确定要发布 <b>{{prePublish.name}}</b> 吗？</p>
                        <button type="button" class="btn btn-primary" (click)="publish()">是</button>
                        <button type="button" class="btn btn-default" (click)="decline()">否</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div style="text-align: center">
                  <pagination
                    [totalItems]="paginationParams.totalCount"
                    [nextText]="paginationParams.nextText"
                    [previousText]="paginationParams.previousText"
                    [(ngModel)]="paginationParams.currentPage"
                    (pageChanged)="pageChanged($event)"></pagination>
                </div>
              </div>
            </tab>
            <tab (click)="toAddRole()">
              <div (click)="toAddRole()">
                <ng-template tabHeading>
                  <a (click)="toAddFlow()"><i class=" fa fa-bars">&nbsp;新建</i></a>
                </ng-template>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
