<div class="panel">
  <div class="panel-body">
    <div class="profile-desk">
      <h1>BootStrap Modal</h1>
      <span class="designation">BootStrap 模态框</span>
      <p class="bio-graph-heading">
        <code>BootStrap Modal | (模态框)</code>
      </p>
    </div>
  </div>
</div>

<section class="panel">
  <div class="panel-body bio-graph-info">
    <h1>
      BootStrap Modal ...
    </h1>
    <div class="row">
      <div class="bio-row">
        <p><span>名称</span>
          : BootStrap Modal
        </p>
      </div>
      <div class="bio-row">
        <p><span>BootStrap中文网</span>
          : <code>http://www.bootcss.com/</code>
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
        <div>
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-home">Angular Modal</i>
              </ng-template>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="panel-body no-padding" style="background-color: #fbfffb">
                    <ul style="list-style-type: disc"><h4>NG ZORRO 致力于提供给 Angular 开发者愉悦的开发体验。</h4>
                      <li>这里是 <code>Ant Design</code> 的 <code>Angular^5.0.0</code> 实现，开发和服务于企业级后台产品。</li>
                      <li>如果要您使用的是 <code>Angular 4.x</code> 版本，请使用 <code>0.5.x</code> 版本的 <code>NG-ZORRO</code></li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-bars">预备</i>
              </ng-template>
              <div class="tab-content">
                <div class="panel">
                  <div class="panel-body">
                    <ul style="list-style-type: disc"><h4>BootStrap Modal:</h4>
                      <p>使用</p>
                      <li>1. 在所需加载模态框组价的<code>Module</code>中，导入<code>ModalModule</code></li>
                      <li>
                        <div class="well">
                          import &#123; ModalModule &#125; from 'ngx-bootstrap/modal';<br/>
                          // or<br/>
                          import &#123; ModalModule &#125; from 'ngx-bootstrap';<br/>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
        <div>
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-home">Comfirm</i>
              </ng-template>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="panel-body no-padding" style="background-color: #fbfffb">
                    ...
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-bars">使用</i>
              </ng-template>
              <div class="tab-content">
                <div class="panel">
                  <div class="panel-body">
                    <ul style="list-style-type: disc"><h4>BootStrap Confirm</h4>:
                      <p>使用</p>
                      <li>1. 在template<code>component.ts</code>中定义<code>Button</code>,并添加点击事件</li>
                      <li>
                        <div class="well">
                          &#60;button type="button" class="btn btn-primary" (click)="openModal(template)"&#62;Open modal&#60;/button&#62;
                        </div>
                      </li>
                      <li>2. 使用<code>ng-template</code>定义模态框的内容,并添加点击事件</li>
                      <li>3. 在<code>component.ts</code>点击事件中使用<code>BsModalRef</code>打开或关闭模态框</li>
                      <li>
                        <div class="well">
                          ...<br/>
                          openModal(template: TemplateRef&#60;any&#60;) &#123;<br/>
                          this.modalRef = this.modalService.show(template, &#123;class: 'modal-sm'&#125;);<br/>
                          &#125;<br/>
                          ...
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
